@font-face {
    font-family: "Risque-Regular";
    src: url(/fonts/Risque-Regular.ttf);
    font-weight: bold;
}
header{
	grid-area: header;
    display: flex;
    justify-content: center;
    background: #000;
}

.Logo{
	height: 50px;
	width: 200px;
	
}

.Menu{}
	
.prob{
	height: 170px;
	background: white;
}

.Lastinfo{
	height: 400px;

	}

.footer{
	background: #000;
	height: 210px;
}	
